<!DOCTYPE html>
<html lang="en" data-layout-decorator="layout">
<head>
    <title>Hello world page</title>
    <link rel="stylesheet" href="/css/hello.css"/>
</head>
<body>

<th-block data-layout-fragment="section">Warehouse</th-block>

<div data-layout-fragment="breadcrumbs">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/admin/">Admin</a>
        </li>
        <li class="breadcrumb-item"><a data-th-href="@{/admin/product/}">Products</a></li>
        <li class="breadcrumb-item">
            <a href="#" data-th-href="@{/admin/product/{id}/(id=${object.id})}" data-th-text="${{object.name}}">Room #4</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
            Delete product
        </li>
    </ol>
</div>

<div data-layout-fragment="content">
    <h1>Delete product</h1>

    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Form</h4>
                </div>
                <div class="card-body">
                    <form action="" data-th-action="@{/admin/product/{id}/delete/(id=${object.id})}" method="post">
                        <p data-th-text="|Are you sure you want to delete the object &quot;${{object.name}}&quot;?|"></p>
                        <button class="btn btn-danger" type="submit">Confirm</button>
                    </form>
                </div>
            </div>
        </div>
    </div>


</div>
</body>
</html>