<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">
<head>
    <title>Hello world page</title>
    <link rel="stylesheet" href="/css/hello.css"/>
</head>
<body>

<th-block data-layout-fragment="section">Reception</th-block>

<div layout:fragment="breadcrumbs">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/admin/">Admin</a></li>
        <li class="breadcrumb-item active" aria-current="page">Reservations</li>
    </ol>
</div>

<div layout:fragment="content">
    <div class="float-right">
        <a data-th-href="@{/admin/reservation/select-date}" class="btn btn-default">
            <i class="fa fa-plus"></i> Add reservation
        </a>
    </div>

    <h1>Reservations</h1>

    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <div class="float-right">
                        <th-block data-th-include="partials :: size(${entities})"></th-block>
                    </div>
                    <h4 class="card-title">List</h4>
                </div>
                <div class="card-body">
                    <div class="table-full-width table-responsive">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Start Date</th>
                                <th>End Date</th>
                                <th>Status</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr data-th-each="entity: ${entities}" data-th-object="${entity}">
                                <td data-th-text="*{id}">
                                    5
                                </td>
                                <td data-th-text="*{{startDate}}">
                                    18-12-2018
                                </td>
                                <td data-th-text="*{{endDate}}">
                                    18-12-2018
                                </td>
                                <td data-th-text="*{{status}}">
                                    Pending
                                </td>
                                <td class="td-actions text-right">
                                    <a href="#" data-th-href="@{/admin/reservation/{id}/(id=*{id})}" rel="tooltip" title="" class="btn btn-info btn-simple btn-link" data-original-title="Show">
                                        <i class="fa fa-eye"></i>
                                    </a>
                                    <a href="#" data-th-href="@{/admin/reservation/{id}/edit/(id=*{id})}" rel="tooltip" title="" class="btn btn-info btn-simple btn-link" data-original-title="Edit">
                                        <i class="fa fa-edit"></i>
                                    </a>
                                    <a href="#" data-th-href="@{/admin/reservation/{id}/delete/(id=*{id})}" rel="tooltip" title="" class="btn btn-danger btn-simple btn-link" data-original-title="Remove">
                                        <i class="fa fa-times"></i>
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="card-footer">
                    <div data-th-include="partials :: pager(${entities})"></div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>