<!DOCTYPE html>

<html lang="en" data-layout-decorator="layout" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Hello world page</title>
    <link rel="stylesheet" href="/css/hello.css"/>
</head>
<body>

<div data-layout-fragment="breadcrumbs">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/admin/">Admin</a></li>
        <li class="breadcrumb-item"><a data-th-href="@{/admin/reservation/}">Reservations</a></li>
        <li class="breadcrumb-item active" aria-current="page">Add reservation</li>
    </ol>
</div>

<div data-layout-fragment="content">
    <h1>Add reservation</h1>
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h2 class="card-title">Form</h2>
                </div>
                <div class="card-body">
                    <form th:method="POST" th:action="@{/admin/reservation/save-room-client}" th:object="${formData}">
                        <input type="hidden" th:field="*{start}"/>
                        <input type="hidden" th:field="*{end}"/>

                        <table class="table">
                            <thead>
                            <tr>
                                <th></th>
                                <th>Numer pokoju</th>
                                <th>Pojedyncze lozka</th>
                                <th>Podwojne lozka</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="room : ${avialableRooms}">
                                <!--  <th-block data-th-text="${room}"></th-block> -->
                                <td><input type="radio" th:value="${room.id}" th:field="*{roomId}"/></td>
                                <td><label th:text="${room.roomNumber}"></label></td>
                                <td><label th:text="${room.bedsSingleCount}"></label></td>
                                <td><label th:text="${room.bedsDoubleCount}"></label></td>
                            </tr>
                            </tbody>
                        </table>

                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label>Imię: </label>
                                <input type="text" th:field="*{firstName}"
                                       class="form-control" placeholder="Imie Klienta" required="true"
                                       autofocus="true"/>
                            </div>
                            <div class="form-group col-md-6">
                                <label>Nazwisko: </label>
                                <input type="text" th:field="*{lastName}"
                                       class="form-control" placeholder="Nazwisko Klienta" required="true"
                                       autofocus="true"/>
                            </div>
                        </div>
                        <hr/>
                        <h5>Address</h5>
                        <div class="form-row">

                            <div class="form-group col-9">
                                <label>Ulica: </label>
                                <input type="text" th:field="*{street}"
                                       class="form-control" placeholder="Ulica" required="true" autofocus="true"/>
                            </div>
                            <div class="form-group col-3">
                                <label>Numer domu: </label>
                                <input type="text" th:field="*{houseNo}"
                                       class="form-control" placeholder="Numer domu" required="true" autofocus="true"/>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-8">
                                <label>Miasto:</label>
                                <input type="text" th:field="*{city}"
                                       class="form-control" placeholder="Miasto" required="true" autofocus="true"/>
                            </div>
                            <div class="form-group col-4">
                                <label>Kod pocztowy:</label>
                                <input type="text" th:field="*{postcode}"
                                       class="form-control" placeholder="Kod pocztowy" required="true"
                                       autofocus="true"/>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label>Państwo</label>
                                <input type="text" th:field="*{country}"
                                       class="form-control" placeholder="Państwo" required="true" autofocus="true"/>
                            </div>
                            <div class="form-group col-md-6">
                                <label>Województwo</label>
                                <input type="text" th:field="*{province}"
                                       class="form-control" placeholder="Województwo" required="true" autofocus="true"/>
                            </div>
                        </div>
                        <hr/>
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label>Pole na notatki:</label>
                                <input type="text" th:field="*{notes}"
                                       class="form-control" placeholder="notatka" required="true" autofocus="true"/>
                            </div>
                        </div>



                        <div class="row">
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <input type="hidden" id="csrf" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                            <input type="submit" class="btn btn-lg btn-primary btn-block" value="Dodaj rezerwację"/>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>

</div>


</body>
</html>