<!DOCTYPE html>
<html lang="en" data-layout-decorator="layout">
<head>
    <title>Hello world page</title>
    <link rel="stylesheet" href="/css/hello.css"/>
</head>
<body>

<th-block data-layout-fragment="section">Reception</th-block>

<div data-layout-fragment="breadcrumbs">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/admin/">Admin</a></li>
        <li class="breadcrumb-item"><a data-th-href="@{/admin/reservation/}">Reservations</a></li>
        <li class="breadcrumb-item active" aria-current="page" data-th-text="${{object}}">Reservation #22</li>
    </ol>
</div>

<div data-layout-fragment="content">

    <div class="btn-group float-right">
        <!--<a href="#" data-th-href="@{/admin/reservation/{id}/edit/(id=${object.id})}" rel="tooltip" class="btn btn-info" data-original-title="Edit">-->
        <!--<i class="fa fa-edit"></i>-->
        <!--</a>-->
        <a href="#" data-th-href="@{/admin/reservation/{id}/add-payment/(id=${object.id})}" class="btn btn-primary">
            <i class="fa fa-credit-card"></i>
            Add payment
        </a>
        <a href="#" data-th-href="@{/admin/reservation/{id}/sell-product/(id=${object.id})}" class="btn btn-primary">
            <i class="fa fa-shopping-cart"></i>
            Sell product
        </a>
        <a href="#" data-th-href="@{/admin/reservation/{id}/delete/(id=${object.id})}" rel="tooltip"
           class="btn btn-danger" data-original-title="Remove">
            <i class="fa fa-times"></i>
        </a>

    </div>

    <h1 data-th-text="${{object}}">Reservation #555</h1>
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header ">
                    <h4 class="card-title">Reservation Details</h4>
                </div>
                <div class="card-body table-full-width table-responsive">
                    <table class="table" data-th-object="${object}">
                        <tbody>
                        <tr>
                            <td><b>First name</b></td>
                            <td data-th-text="*{client.firstName}">
                                Potato
                            </td>
                        </tr>
                        <tr>
                            <td><b>Last name</b></td>
                            <td data-th-text="*{client.lastName}">
                                Potato
                            </td>
                        </tr>
                        <tr>
                            <td><b>Address</b></td>
                            <td>
                                <span data-th-text="*{address.country}"> </span>,
                                <span data-th-text="*{address.province}"> </span>,
                                <span data-th-text="*{address.city}"> </span>
                                <span data-th-text="*{address.postcode}"> </span>,
                                <span data-th-text="*{address.streetName}"> </span>
                                <span data-th-text="*{address.houseNo}"> </span>
                            </td>
                        </tr>
                        <tr>
                            <td><b>Room number</b></td>
                            <td>
                                <a href="#" data-th-href="@{/admin/room/{id}/(id=${object.room.id})}"
                                   data-th-text="*{room.roomNumber}">
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td><b>Start date</b></td>
                            <td data-th-text="*{startDate}">
                                Potato
                            </td>
                        </tr>
                        <tr>
                            <td><b>End date</b></td>
                            <td data-th-text="*{endDate}">
                                Potato
                            </td>
                        </tr>
                        <tr>
                            <td><b>Status</b></td>
                            <td data-th-text="*{status}">
                                Potato
                            </td>
                        </tr>
                        <tr>
                            <td><b>Notes</b></td>
                            <td data-th-text="*{notes}">
                                Potato
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card">
                <div class="card-header ">
                    <h4 class="card-title">Payments and Invoice</h4>
                </div>
                <div class="card-body table-full-width table-responsive">
                    <table class="table" data-th-object="${invoiceInfo}">
                        <tbody>
                        <tr>
                            <td><b>Balance</b></td>
                            <td data-th-with="balance=*{paymentSum - invoice}" data-th-text="${{balance}}"
                                data-th-classappend="${balance &lt; 0} ? text-warning : default">
                                Potato
                            </td>
                        </tr>
                        <tr>
                            <td><b>Invoice</b></td>
                            <td data-th-text="*{{invoice}}">
                                Potato
                            </td>
                        </tr>
                        <tr>
                            <td><b>Paid</b></td>
                            <td data-th-text="*{{paymentSum}}">
                                Potato
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Sold items</h4>
                </div>
                <div class="card-body">
                    <div class="table-full-width table-responsive">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>Product</th>
                                <th>Price</th>
                                <th>Count</th>
                                <th>Total</th>
                                <th>Created By</th>
                                <th>Created Date</th>

                            </tr>
                            </thead>
                            <tbody>
                            <tr data-th-each="soldItem: ${soldItems}" data-th-object="${soldItem}">
                                <td data-th-text="*{{product}}">
                                    Product #444
                                </td>
                                <td data-th-text="*{{price}}">
                                    122.00
                                </td>
                                <td data-th-text="*{{count}}">
                                    10
                                </td>
                                <td data-th-text="${{soldItem.getTotalValue()}}">
                                    1,220.00
                                </td>
                                <td data-th-text="*{{createdBy}}">
                                    10
                                </td>
                                <td data-th-text="*{{createdDate}}">
                                    10
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>