<!DOCTYPE html>
<html lang="en" data-layout-decorator="layout">
<head>
    <title>Hello world page</title>
    <link rel="stylesheet" href="/css/hello.css"/>
</head>
<body>

<th-block data-layout-fragment="section">Reception</th-block>

<div data-layout-fragment="breadcrumbs">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/admin/">Admin</a></li>
        <li class="breadcrumb-item"><a data-th-href="@{/admin/reservation/}">Reservations</a></li>
        <li class="breadcrumb-item active" aria-current="page" data-th-text="${{object}}">Reservation #22</li>
    </ol>
</div>

<div data-layout-fragment="content" data-th-with="today=${#temporals.createToday()}">

    <div class="btn-group float-right">
        <!--<a href="#" data-th-href="@{/admin/reservation/{id}/edit/(id=${object.id})}" rel="tooltip" class="btn btn-info" data-original-title="Edit">-->
        <!--<i class="fa fa-edit"></i>-->
        <!--</a>-->
        <a href="#"
           data-th-if="${object.status == object.Status.CHECK_OUT_OVERDUE}"
           data-th-href="@{/admin/reservation/{id}/resolve/(id=${object.id})}" class="btn btn-danger">
            <i class="fa fa-gavel"></i>
            Resolve (late check-out)
        </a>
        <a href="#"
           data-th-if="${object.status == object.Status.PENDING and object.startDate == today}"
           data-th-href="@{/admin/reservation/{id}/check-in/(id=${object.id})}" class="btn btn-success">
            <i class="fa fa-check"></i>
            Check-in
        </a>
        <a href="#"
           data-th-if="${object.status == object.Status.IN_PROGRESS and object.endDate == today}"
           data-th-href="@{/admin/reservation/{id}/check-out/(id=${object.id})}" class="btn btn-success">
            <i class="fa fa-sign-out"></i>
            Check-out
        </a>
        <a href="#"
           data-th-if="${object.status == object.Status.IN_PROGRESS}"
           data-th-href="@{/admin/reservation/{id}/add-key/(id=${object.id})}" class="btn btn-primary">
            <i class="fa fa-key"></i>
            Give new key
        </a>
        <a href="#" data-th-if="${object.status == object.Status.PENDING}"
           data-th-href="@{/admin/reservation/{id}/cancel/(id=${object.id})}" class="btn btn-danger">
            <i class="fa fa-ban"></i>
            Cancel
        </a>
        <a href="#" data-th-href="@{/admin/reservation/{id}/add-payment/(id=${object.id})}" class="btn btn-primary">
            <i class="fa fa-credit-card"></i>
            Add payment
        </a>
        <a href="#" data-th-href="@{/admin/reservation/{id}/sell-product/(id=${object.id})}" class="btn btn-primary">
            <i class="fa fa-shopping-cart"></i>
            Sell product
        </a>
        <a href="#" data-th-href="@{/admin/reservation/{id}/edit/(id=${object.id})}" rel="tooltip"
           class="btn btn-info" data-original-title="Edit">
            <i class="fa fa-edit"></i>
        </a>
        <a href="#" data-th-href="@{/admin/reservation/{id}/delete/(id=${object.id})}" rel="tooltip"
           class="btn btn-danger" data-original-title="Remove">
            <i class="fa fa-times"></i>
        </a>

    </div>

    <h1 data-th-text="${{object}}">Reservation #555</h1>
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header ">
                    <h4 class="card-title">Reservation Details</h4>
                </div>
                <div class="card-body table-full-width table-responsive">
                    <table class="table" data-th-object="${object}">
                        <tbody>
                        <tr>
                            <td><b>First name</b></td>
                            <td data-th-text="*{client.firstName}">
                                Potato
                            </td>
                        </tr>
                        <tr>
                            <td><b>Last name</b></td>
                            <td data-th-text="*{client.lastName}">
                                Potato
                            </td>
                        </tr>
                        <tr>
                            <td><b>Address</b></td>
                            <td>
                                <span data-th-text="*{address.country}"> </span>,
                                <span data-th-text="*{address.province}"> </span>,
                                <span data-th-text="*{address.city}"> </span>
                                <span data-th-text="*{address.postcode}"> </span>,
                                <span data-th-text="*{address.streetName}"> </span>
                                <span data-th-text="*{address.houseNo}"> </span>
                            </td>
                        </tr>
                        <tr>
                            <td><b>Room number</b></td>
                            <td>
                                <a href="#" data-th-href="@{/admin/room/{id}/(id=*{room.id})}"
                                   data-th-text="*{room.roomNumber}">
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td><b>Start date</b></td>
                            <td data-th-text="*{{startDate}}">
                                Potato
                            </td>
                        </tr>
                        <tr>
                            <td><b>End date</b></td>
                            <td data-th-text="*{{endDate}}">
                                Potato
                            </td>
                        </tr>
                        <tr>
                            <td><b>Status</b></td>
                            <td class="font-weight-bold" data-th-include="/partials/reservation-status">
                            </td>
                        </tr>
                        <tr data-th-if="*{checkInTime != null}">
                            <td>Checked-in</td>
                            <td data-th-text="*{{checkInTime}}">
                                01-01-01 13:50
                            </td>
                        </tr>
                        <tr data-th-if="*{checkOutTime != null}">
                            <td>Checked-out</td>
                            <td data-th-text="*{{checkOutTime}}">
                                01-01-01 11:50
                            </td>
                        </tr>
                        <tr>
                            <td><b>Notes</b></td>
                            <td data-th-text="*{notes}">
                                Potato
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card" data-th-object="${invoice}">
                <div class="card-header ">
                    <h4 class="card-title">Payments and Invoice</h4>
                </div>
                <div class="card-body table-full-width table-responsive">
                    <table class="table">
                        <tbody>
                        <tr>
                            <td><b>Total balance</b></td>
                            <td data-th-with="balance=*{paymentSum - reservationInvoice - productInvoice}"
                                data-th-text="${{balance}}"
                                data-th-classappend="${balance &lt; 0} ? text-danger : text-info">
                                Potato
                            </td>
                        </tr>
                        <tr>
                            <td><b>Paid</b></td>
                            <td data-th-text="*{{paymentSum}}">
                                Potato
                            </td>
                        </tr>
                        <tr>
                            <td><b>Total invoice</b></td>
                            <td data-th-text="*{{reservationInvoice + productInvoice}}">
                                Potato
                            </td>
                        </tr>
                        <tr>
                            <td>Reservation invoice</td>
                            <td data-th-text="*{{reservationInvoice}}">
                                Potato
                            </td>
                        </tr>
                        <tr>
                            <td>Product invoice</td>
                            <td data-th-text="*{{productInvoice}}">
                                Potato
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="card-header">
                    <h4 class="card-subtitle">History</h4>
                </div>
                <div class="card-body ">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>
                                Date
                            </th>
                            <th>
                                Amount
                            </th>
                            <th>
                                Type
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr data-th-each="payment: *{payments}" data-th-object="${payment}">
                            <td data-th-text="*{{date}}">
                                01-01-01
                            </td>
                            <td data-th-text="*{{amount}}">
                                50.00
                            </td>
                            <td data-th-include="/partials/payment-type">
                                CASH
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card" data-th-object="${object}" data-th-if="${object.status != object.Status.PENDING}">
                <div class="card-header ">
                    <h4 class="card-title">Keys</h4>
                </div>
                <div class="card-body table-full-width table-responsive">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>
                                Given
                            </th>
                            <th>
                                Returned
                            </th>
                            <th>
                                Actions
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr data-th-each="keyStatus: *{keyStatuses}" data-th-object="${keyStatus}">
                            <td data-th-text="*{{timeGiven}}">
                                01-01-01
                            </td>
                            <td data-th-text="*{{timeReturned}}">
                                01-01-02
                            </td>
                            <td class="td-actions text-right">
                                <a href="#" data-th-if="*{timeReturned == null}"
                                   data-th-href="@{/admin/reservation/{rid}/return-key/{kid}(kid=*{id}, rid=${object.id})}" rel="tooltip"
                                   title="" class="btn-success btn-simple btn-link" data-original-title="Return key">
                                    <i class="fa fa-check"></i>
                                </a>
                                <a href="#" data-th-href="@{/admin/reservation/{rid}/delete-key/{kid}(kid=*{id}, rid=${object.id})}"
                                   rel="tooltip" title="" class="btn-danger btn-simple btn-link" data-original-title="Delete entry">
                                    <i class="fa fa-times"></i>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Sold items</h4>
                </div>
                <div class="card-body">
                    <div class="table-full-width table-responsive">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>Product</th>
                                <th>Price</th>
                                <th>Count</th>
                                <th>Total</th>
                                <th>Sold By</th>
                                <th>Date</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr data-th-each="soldItem: ${invoice.soldItems}" data-th-object="${soldItem}">
                                <td>
                                    <a href="#" data-th-href="@{/admin/product/{id}/(id=*{product.id})}"
                                       data-th-text="*{{product}}">
                                        Product #444
                                    </a>
                                </td>
                                <td data-th-text="*{{price}}">
                                    122.00
                                </td>
                                <td data-th-text="*{{count}}">
                                    10
                                </td>
                                <td data-th-text="${{soldItem.getTotalValue()}}">
                                    1,220.00
                                </td>
                                <td>
                                    <a href="#" data-th-href="@{/admin/staff/{id}/(id=*{createdBy.id})}"
                                       data-th-text="*{{createdBy}}">
                                        Product #444
                                    </a>
                                </td>
                                <td data-th-text="*{{createdDate}}">
                                    10
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>