<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" data-layout-decorator="layout-plain">
<head>
    <title>Error 43 - Hotel</title>
</head>
<body>

<th-block data-layout-fragment="content">
    <div class="row justify-content-center">
        <div class="card">
            <div class="card-body">
                <div class="card-header">
                    <h1 class="text-warning">Error 403 - Access Denied</h1>
                </div>
                <div class="card-block">
                    <p class="text-muted">We're sorry for the inconvenience. You have insufficient permissions to access this page.</p>
                </div>
            </div>
        </div>
    </div>
</th-block>

</body>
</html>