<!DOCTYPE html>
<html lang="en" data-layout-decorator="layout">
<head>
    <title>Hello world page</title>
    <link rel="stylesheet" href="/css/hello.css"/>
</head>
<body>

<th-block data-layout-fragment="section">Dashboard</th-block>

<div data-layout-fragment="content">
    <div class="row">
        <div class="col-md-3">
            <a class="card card-stats" href="/admin/client">
                <div class="card-body">
                    <div class="row">
                        <div class="col-5 text-center">
                            <i class="big-icon text-primary nc-icon nc-circle-09"></i>
                        </div>
                        <div class="col-7">
                            <div class="numbers">
                                <div class="card-category">Client count</div>
                                <div class="card-title">500</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer text-muted">
                    <!--<hr/>-->
                    <!--Last client: <th-block th:text="${client}"></th-block>-->
                </div>
            </a>
        </div>
        <div class="col-md-3">
            <a class="card card-stats" href="/admin/reservation">
                <div class="card-body">
                    <div class="row">
                        <div class="col-5 text-center">
                            <i class="big-icon text-danger nc-icon nc-map-big"></i>
                        </div>
                        <div class="col-7">
                            <div class="numbers">
                                <div class="card-category">Reservations count</div>
                                <div class="card-title">500</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer text-muted">
                    <!--<hr/>-->
                    <!--Last client: <th-block th:text="${client}"></th-block>-->
                </div>
            </a>
        </div>
        <div class="col-md-3">
            <a class="card card-stats" href="/admin/room">
                <div class="card-body">
                    <div class="row">
                        <div class="col-5 text-center">
                            <i class="big-icon text-success nc-icon nc-tag-content"></i>
                        </div>
                        <div class="col-7">
                            <div class="numbers">
                                <div class="card-category">Room count</div>
                                <div class="card-title">500</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer text-muted">
                    <!--<hr/>-->
                    <!--Last client: <th-block th:text="${client}"></th-block>-->
                </div>
            </a>
        </div>
        <div class="col-md-3">
            <a class="card card-stats" href="/admin/product">
                <div class="card-body">
                    <div class="row">
                        <div class="col-5 text-center">
                            <i class="big-icon text-info nc-icon nc-app"></i>
                        </div>
                        <div class="col-7">
                            <div class="numbers">
                                <div class="card-category">Product count</div>
                                <div class="card-title">500</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer text-muted">
                    <!--<hr/>-->
                    <!--Last client: <th-block th:text="${client}"></th-block>-->
                </div>
            </a>
        </div>
        <div class="col-md-3">
            <a class="card card-stats" href="/admin/delivery">
                <div class="card-body">
                    <div class="row">
                        <div class="col-5 text-center">
                            <i class="big-icon text-warning nc-icon nc-bus-front-12"></i>
                        </div>
                        <div class="col-7">
                            <div class="numbers">
                                <div class="card-category">Delivery count</div>
                                <div class="card-title">500</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer text-muted">
                    <!--<hr/>-->
                    <!--Last client: <th-block th:text="${client}"></th-block>-->
                </div>
            </a>
        </div>
        <div class="col-md-3">
            <a class="card card-stats" href="/admin/staff">
                <div class="card-body">
                    <div class="row">
                        <div class="col-5 text-center">
                            <i class="big-icon text-info nc-icon nc-bag"></i>
                        </div>
                        <div class="col-7">
                            <div class="numbers">
                                <div class="card-category">Staff count</div>
                                <div class="card-title">500</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer text-muted">
                    <!--<hr/>-->
                    <!--Last client: <th-block th:text="${client}"></th-block>-->
                </div>
            </a>
        </div>
    </div>

</div>

</body>
</html>